---
layout: null
title: Home - Markville Robotics
description: Homepage
sitemap: priority: 1.0
lastmod: 2018-09-01 
changefreq: weekly 
---

<!DOCTYPE html>

<html>

<head>
	{% include head.html %}
</head>

<body class="is-loading">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h3>Welcome To</h3>
			<h2>Markville Robotics</h2>
			<p>Markville Robotics is the robotics initiative at Markville Secondary School. We are a student-led organization that
				provides opportunities for students in the school interested in developing skills around robotics and Computer Engineering.</p>
			<ul class="actions">
				<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a href="{{ " / " | absolute_url }}" class="logo"width="300">{{site.title}}</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			{% include nav.html %}
		</nav>

		<!-- Main -->
		<div id="main">

					<h3>Hello</h3>
					This is Markville Robotics' website, where you can find info about the team and sponsorship, learn about team events, and get team resources.
				<a class="image main"><img src=" /images/claw-robot-2.jpg" alt=""></a> <!-- Make sure this is image main, otherwise it will screw up the entire website-->

			<h1>Recent news:</h1>

			<!-- Posts -->

				{% for post in site.posts limit:2 %}
				<article>
					<header>
						<span class="date">{{ post.date | date_to_string }}</span>
						<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
					</header>
					<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
					<p>{{ post.summary }}</p>
					<ul class="actions">
						<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
					</ul>
				</article>
				{% endfor %}

		</div>

		<!-- Footer -->
		{% include foot.html %}

	</div>

	<!-- Scripts -->
	{% include scripts-main.html %} {% include tracking.html %}

</body>

</html>
