<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" style="padding-left:10px;" class="brand-logo"><img src="assets/images/logo-wordless.png" width="64"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn blue darken-2 waves-effect" href="#home"><i class="material-icons left">home</i>Home</a></li>
        <li><a class="btn green darken-2 waves-effect" href="#links"><i class="material-icons left">code</i>Links</a></li>
        <li><a class="btn red darken-1 waves-effect waves-default" href="#contact"><i class="material-icons left">mail</i>Contact</a></li>
        <li><a class="btn purple darken-1 waves-effect waves-default" href="\execs"><i class="material-icons left">person</i>Execs</a></li>
      </ul>
    </div>
  </nav>
</div>
