<ul class="links">
    <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
    <li class="{% if page.url contains '/news/' %} active {% endif %}"><a href="{{ "/news/" | absolute_url }}">News</a></li>
    <li class="{% if page.url contains '/resources/' %} active {% endif %}"><a href="https://drive.google.com/drive/folders/1IK9saro09WVD4kTJmE6y-mQMeXQ_5qA4?usp=sharing">Resources</a></li>
    <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
    <li class="Button"><a href="https://goo.gl/forms/OpoGNHJMhYFh4PDg1">Student Sign-Up</a></li>
</ul>
