<div class="row">

  <!--card one-->
  <div class="col s12 m6">
    <a href="https://goo.gl/forms/OpoGNHJMhYFh4PDg1">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/signup.png">
        </div>
        <div class="card-action">
          <span class="card-title grey-text text-darken-4">Sign Up</span>
          <p>Sign up to receive emails about Markville Robotics!</p>
        </div>
      </div>
    </a>

    <!--card three-->
    <a href="https://github.com/MarkvilleRobotics/code">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/githublogo.png">
        </div>
        <div class="card-action">
          <span class="card-title grey-text text-darken-4">Github Code Repository</span>
          <p>Find all the sample codes and the programming team's past codes here!</p>
        </div>
      </div>
    </a>
  </div>

  <!--card two-->
  <div class="col s12 m6">
    <a href="https://drive.google.com/drive/folders/1c3ke5UZ9DM0oGpaEePcjuwxxFr4rYdOl">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/googledrive.png">
        </div>
        <div class="card-action">
          <span class="card-title grey-text text-darken-4">Resources</span>
          <p>The link below will provide useful resources to aid your effort in building and debugging a robot.</p>
        </div>
      </div>
    </a>
  </div>

</div>