<div class="row">

  <!--card one-->
  <div class="col s12 m6">
    <a href="https://goo.gl/forms/OpoGNHJMhYFh4PDg1">
      <div class="card horizontal">
        <div class="card-image">
          <img src="../assets/images/signup.png">
        </div>
        <div class="card-content">
          <span class="card-title">Sign Up</span>
          <span class=" grey-text text-darken-4">Sign up to receive emails about Markville Robotics!</span>
        </div>
      </div>
    </a>

    <!--card two-->
    <a href="https://drive.google.com/drive/folders/1c3ke5UZ9DM0oGpaEePcjuwxxFr4rYdOl">
      <div class="card horizontal">
        <div class="card-image">
          <img src="../assets/images/googledrive.png">
        </div>
        <div class="card-content">
          <span class="card-title">Resources</span>
          <span class=" grey-text text-darken-4">The link below will provide useful resources to aid your effort in building and debugging a robot.</span>
        </div>
      </div>
    </a>

  </div>

  <!--card three-->
  <div class="col s12 m6">
    <a href="https://github.com/MarkvilleRobotics/code">
      <div class="card horizontal">
        <div class="card-image">
          <img src="../assets/images/githublogo.png">
        </div>
        <div class="card-content">
          <span class="card-title">Github Code Repository</span>
          <span class=" grey-text text-darken-4">Find all the sample codes and the programming team's past codes here!</span>
        </div>
      </div>
    </a>
  </div>

</div>